@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(158, 158, 255), white);
    justify-content: center;
    align-items: center;
}

.loginbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    padding: 40px;
    height: 300px;
    width: 400px;
    border-radius: 30px;
    box-shadow: 0px 3px 30px 3px rgb(135, 135, 135);
    gap: 30px;
}

.dig {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.inputbox {
    width: 300px;
    height: 40px;
    padding-left: 40px;
    background-position: 12px center;
    background-repeat: no-repeat;
    background-size: 15px;
}

.inputboxs {
    width: 300px;
    height: 40px;
    padding-left: 40px;
    background-position: 9px center;
    background-repeat: no-repeat;
    background-size: 22px;
}

.logar {
    height: 40px;
    width: 100px;
    color: white;
    background-color: green;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

button:active {
    background-color: blue;
}

.logout {
    size: 20px;
}